<section class="container mx-auto flex h-screen">
  <div class="bg-slate-100 w-full p-5">
    <div class="flex items-center justify-between mb-5">
      <button nz-button [nzType]="'primary'" (click)="showModal()">
        <p><span nz-icon nzType="plus" nzTheme="outline"></span> Add User</p>
      </button>

      <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="Add User"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
      >
        <ng-container *nzModalContent>
          <form
            nz-form
            class="login-form"
            [formGroup]="registrationForm"
            (ngSubmit)="onSubmit()"
          >
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your name!">
                <nz-input-group nzPrefixIcon="user">
                  <input
                    class="w-full border py-2"
                    type="text"
                    nz-input
                    formControlName="name"
                    placeholder="type your name"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your email!">
                <nz-input-group nzPrefixIcon="mail">
                  <input
                    class="w-full border py-2"
                    type="text"
                    nz-input
                    formControlName="email"
                    placeholder="type your Email"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your phone!">
                <nz-input-group nzPrefixIcon="phone">
                  <input
                    class="w-full border py-2"
                    type="number"
                    nz-input
                    formControlName="phone"
                    placeholder="type your Phone"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your age!">
                <nz-input-group nzPrefixIcon="phone">
                  <input
                    class="w-full border py-2"
                    type="number"
                    nz-input
                    formControlName="age"
                    placeholder="type your Age"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Address!">
                <nz-input-group nzPrefixIcon="lock">
                  <input
                    class="w-full border py-2"
                    type="text"
                    nz-input
                    formControlName="address"
                    placeholder="Address"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-select
                nzPlaceHolder="Select active or not"
                formControlName="isActive"
                class="w-full"
              >
                <nz-option nzLabel="Active" nzValue="true"></nz-option>
                <nz-option nzLabel="Not active" nzValue="false"></nz-option>
              </nz-select>
            </nz-form-item>
          </form>
        </ng-container>
      </nz-modal>
    </div>
    <div class="bg-slate-50 py-2">
      <nz-table #basicTable [nzData]="users">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Age</th>
            <th>Address</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of users">
            <td>{{ data.name }}</td>
            <td>{{ data.email }}</td>

            <td>{{ data.phone }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.isActive }}</td>
            <td>
              <button nz-button [nzType]="'primary'">Edit</button>
              <nz-divider nzType="vertical"></nz-divider>
              <button nz-button [nzType]="'primary'">Delete</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</section>
